/*Загальний стиль*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-main);
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Відносні стилі */
:root {
    --background-color: #2e2f42;
    --logo-color-footer: #f4f4fd;
    --logo-color-web: #4d5ae5;
    --hero-title-color: #ffffff;
    --text-color: #2e2f42;
    --text-color-main: #434455;
    --btn-color: #4d5ae5;
    --btn-active-color: #404bbf;
    --btn-active-color-text: #ffffff;
    --a-active-color: #404bbf;
    --footer-text-color: #f4f4fd;
    --portfolio-btn-color: #f4f4fd;
    --portfolio-btn-text: #4d5ae5;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--logo-color-web);
}

.header-logo-tex {
    color: var(--text-color);
    font-weight: 700;
}

.header-nav-link {
    /* letter-spacing: 0.02em; */
    color: var(--text-color);
    font-weight: 500;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--a-active-color);
}

.header-contacts {
    font-style: normal;
}

.header-contact-list {
    color: var(--text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--a-active-color);
}

/* .header-phone-link:hover,
.header-phone-link:focus {
  color: var(--a-active-color);
} */
.hero {
    background-color: var(--background-color);
}

.hero-title {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--hero-title-color);
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-color);
    color: var(--btn-active-color-text);
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-active-color);
}

.visually-hidden {
    letter-spacing: 0.02em;
}

.advantages-subtitle,
.team-subtitle,
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.portfolio-title,
.team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--text-color);
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team {
    background-color: #f4f4fd;
}

.team-item {
    background-color: #ffffff;
}

.footer {
    background-color: var(--background-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--logo-color-web);
}

.footer-logo-tex {
    color: var(--logo-color-footer);
}

.footer-text {
    color: var(--footer-text-color);
}

.menu-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--portfolio-btn-color);
    color: var(--portfolio-btn-text);
    border: 1px solid #e7e9fc;

    letter-spacing: 0.04em;
    cursor: pointer;
}

.menu-btn:hover,
.menu-btn:focus {
    background-color: var(--btn-active-color);
    color: var(--btn-active-color-text);
}